//https://coolors.co/04080f-507dbc-a1c6ea-bbd1ea-dae3e5

$fb-font: Arial;
$fb-color-palette-1: #322752;
$fb-color-palette-2: #507dbc;
$fb-color-palette-3: #a1c6ea;
$fb-color-palette-4: #bbd1ea;
$fb-color-palette-5: #dae3e5;

$theme-colors: (
  "primary": #5125d1,
  'secondary': #833bec,
  "success": #5125d1,
  "info": #ff7d50,
  "warning": #ffbe0b,
  "danger": #cc0000,
  "light": #ffffff, 
  "dark": #001738,
);
